@charset "UTF-8";

body {
    background-color: white;
}

/* Formatações para o Menu*/

ul {
    margin: 0;
    padding: 0;
    margin-left: 500px;
}
 
li {
    list-style: none; 
    margin: 5px;
    display: inline;
}

li a {
    padding: 5px 10px; 
    margin:0;
    border: 0px solid rgb(0, 0, 0); 
    box-shadow: 2px 2px 2px 2px;
    background: rgb(53, 52, 52);
    text-decoration: none;
    color:#FFF;
    /* cantos arredondados */
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
}
li a:hover {
    background: rgb(110, 226, 120);
    color: rgb(187, 5, 5); 
    border-color: #000;
}


/* Formatação da Vitrine */

.vitrine-slider .slide {
    transform: scale(0.6);
    transition: 1s;
    -webkit-transition: background-color 1s ease-out;
    -moz-transition: background-color 1s ease-out;
    -o-transition: background-color 1s ease-out;
    outline: none !important;
}

.vitrine-slider .slide.slick-center {
    transform: scale(0.8);
    box-shadow: 1px 2px 2px 2px rgb(82, 77, 77);
}

div#camiseta-name{
    text-align: center;
    margin-top: -50px;
}

div#camiseta-price {
    text-align: center;
}

/* icone da vitrine */

.icone-prev {
    margin-left: 502px;
}

.icone-next {
    margin-left: 796px;
}